

body{
    background-color: deepskyblue;
}
p{
    color: rgb(1, 1, 3);
}
h1{
    color: black;
}
button{
    color: black;
    background-color:aqua;
    border-radius: 3px;
    border: 1px;
}
a{
    text-decoration: dotted;
    color: blueviolet;
    }





