title{
    color: red;
}
h1{
    color: red;
    background-color: aqua;
    
}
body{
    background-color: grey;
}
a{
    color: blue;
    
}
h2{
    padding: 10px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}
#first{
    color: purple;
    padding: 10px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}
#second{
    color: blue;
    padding: 10px;
    margin: 10px;
}
#third{
    color: aqua;
    padding: 10px;
    margin: 10px;
}
#fourth{
    color: green;
    padding: 10px;
    margin: 10px;
}
#fifth{
    color: yellow;
    padding: 10px;
    margin: 10px;
}
#sixth{
    color: orange;
    padding: 10px;
    margin: 10px;
}
#seventh{
    color: red;
    padding: 10px;
    margin: 10px;
}







